:root {
    --zebra: hsl(0, 0%, 93%, 1);
}

body {
    font-family: "EB Garamond", Arial, serif;
}

table {
    border-collapse: collapse;
    margin: 10px auto;
}

caption {
    caption-side: bottom;
    margin-top: 1rem;
}

th {
    color: white;
    background-color: black;
}

td {
    border: thin solid gray;
    text-align: center;

}

th,
td {
    padding: 10px;
}

tr:nth-child(even) {
    background-color: var(--zebra);
}