:root {
    --primary-color: #5296a5;
    --secondary-color: #a57548;
    --accent1-color: #82ddf0;
    --accent2-color: #fcd7ad;
    --larger-font: 'Tilillium Web', sans-serif;
    --smaller-font: "Arimo", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
}


p {
    font-family: var(--smaller-font);
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.parent {
    display: block;
    text-align: center;
    flex: 1 1 auto;
}

.logo {
    height: 150px;



}


header {
    display: block;
    background-color: var(--primary-color);
    width: 100%;
    grid-column: 1/4;

}

.hero-container {
    width: 100%;
    height: auto;
    grid-column: 1/4;
    grid-row: 2/3;
    z-index: 0;
    text-align: center;
    position: relative;

}

.hero-image {
    width: 100%;
}


.left-side {
    margin: 1rem;
    padding: 2rem;
    grid-column: 1 / 2;
    border: 1px solid var(--secondary-color);
}

#hamButton {
    margin-top: 1rem;
    font-size: 2rem;
    background-color: var(--primary-color);
    cursor: pointer;
    width: 4rem;
    margin-bottom: 1rem;
}


nav a {
    font-size: 3rem;
    font-weight: bold;
    background-color: var(--accent1-color);
    text-align: center;
    font-family: "Tilillium Web", sans-serif;
    margin: auto;
    text-decoration: none;
    display: block;
    text-align: center;
    flex: 1 1 auto;

}

a:active {
    color: black;
    font-family: var(--larger-font);

}

a:visited {
    color: black;
}

nav.menuLinks {
    display: none;
}

nav.menuLinks.open {
    display: block;
}

.logo.open {
    display: none;
}

nav {
    margin: auto;
}

main {
    margin: 1rem;
    padding: 2rem;
    grid-column: 2 / 3;
    text-align: center;
    border: 1px solid var(--secondary-color);
}

.main {
    text-align: left;
    font-size: 1.5rem;
}

.right-side {
    margin: 1rem;
    padding: 2rem;
    grid-column: 3 / 4;
    border: 1px solid var(--secondary-color);
}

h2 {
    padding: 1rem;
    background-color: var(--accent2-color);
}

h1,
h2 {
    font-family: var(--larger-font);
}

ul {
    list-style-type: none;
}

li {
    padding: 1rem;

}

nav a:hover {
    background-color: var(--accent2-color);
}

.join-button {
    display: none;
}


footer {
    padding: 1rem;
    width: 100%;
    background-color: var(--accent2-color);
    justify-content: center;
    text-align: center;
    grid-column: 1/4;
}

/* discover page */


.sidebar {
    grid-column: 1/2;
    padding: 2rem;
    width: 100%;
}

.sidebar-content {

    margin-top: 1rem;
    padding: 8px;
    text-align: left;
    border: 1px solid var(--secondary-color);
    width: 100%;
    height: auto;
    max-width: 600px;
}

.discover-images {
    width: 100%;
    height: auto;
    max-width: 360px;
}

.main-content {
    text-align: center;
}

#h1discover {
    text-align: center;
    width: 100%;
    max-width: 900px;
    height: auto;
    left: 30%;
}

/*--------join page------------*/

.join-main {
    margin-left: auto;
    margin-right: auto;
    border: none;
}

.join label {
    display: block;
    margin: 2rem;
    text-align: left;

}

.join input {
    margin-top: .5rem;
    height: 44px;

}

.join input[type="text"],
.join input[type="email"],
.join input[type="tel"],
.join textarea {
    display: block;
    box-shadow: 3px 4px var(--primary-color);
    border-radius: 6px;
    width: 100%;
}



.join input[type="radio"] {
    display: block;
    accent-color: var(--primary-color);
    height: 22px;
    width: 22px;
    margin-top: 8px;
    font-size: .9rem;
    font-family: var(--larger-font);
}

.radio label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}

.join input:required {
    border-bottom: solid 4px red;
}


.join fieldset {
    width: 100%;
    max-width: 800px;
    margin-bottom: 1rem;
}

.join input[type=submit] {
    margin-top: 1rem;
    width: 100%;
    border-radius: 9px;
    font-weight: 600;
}

#join-button:hover {
    transform: scale(1.3);
}

.membership {
    max-width: 600px;
    margin-top: 2rem;
    margin-left: 1rem;
    padding: .5rem;
    border: 2px solid black;

}

.membership p {
    text-align: left;
    margin-top: 1rem;
    margin-left: 1rem;
}

/*------------------------*/

.cards {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 8px;
    align-items: center;
    max-width: 100%;
}

.list a {
    font-family: var(--larger-font);
    background-color: var(--accent2-color);
}

.list {
    display: block;
    font-size: 1.5rem;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.list section img {
    display: none;
}

.list section {

    margin-top: 1rem;
    background-color: var(--accent2-color);
}

.forecast span {
    margin-right: 1rem;
    margin-left: 1rem;
}

.forecast {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*-------------------banner---------------------*/

div.banner.open {
    display: none;
}

div.banner {
    position: absolute;
    height: 400px;
    width: 100%;
    background-color: var(--accent1-color);
    font-size: 3rem;
    top: 15%;

}