@media (min-width: 640px) {


    nav {
        display: flex;
        justify-content: space-around;
        font-size: 2rem;
    }

    .parent {
        display: grid;
        grid-template: auto 1fr auto / auto 1fr auto;
    }

    .join-button {
        display: block;
        height: 4rem;
        width: 6rem;
        border-radius: 10%;
        background-color: var(--accent1-color);
        position: absolute;
        left: 47%;
        top: 20%;
        z-index: 1;
    }

    nav.menuLinks {
        display: flex;
    }

    nav.menuLinks.open {
        display: flex;
    }


    #hamButton {
        display: none;
    }

    header {
        display: block;
    }

    /* Dicover page*/



    .sidebar {
        top: 0;
        left: 0;
        margin-top: 12%;
        grid-column: 1/2;
        width: 300px;
        height: 100%;
        float: right;
        position: sticky;
    }

    .sidebar-content {
        margin-top: 1rem;
        padding: 8px;
        text-align: left;
        border: 1px solid var(--secondary-color);
    }

    .sidebar-content p {
        padding-top: 1rem;
    }

    .main-discover {
        display: grid;
        grid-template-columns: 300px 1fr;
        margin: 0;
        padding: 0;


    }

    .main-content {
        grid-column: 2/3;
        margin-right: 0;
        margin-left: 0;
        padding: 1rem;
        height: auto;
    }

    .discover-images {
        margin-top: 1rem;
    }

    .discover-images img:hover {
        box-shadow: 0 0 10px 8px rgba(33, 33, 33, .5);
    }




}